In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("hotel_booking_data.csv")
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [35]:
# Pandas assignment

# 1. import the pandas library
# 2. read the data
# 3. examine the first 5 records of the data
df.head()
# 4. check the summary of the data frame i.e. column, count, data type, null using a single method
# df.info()
# 5. how many rows and columns are in the data?
df.shape
# 6. are there missing values?
df.isnull().sum()
# 7. Drop the "Company" column from the dataset.
df.drop("company", axis=1)
# 8. What are the top 5 most common country codes in the dataset?
df["country"].value_counts()[:5]
# 9. What is the name of the person who paid the highest ADR (average daily rate)?

# df.loc[df["adr"].idxmax()]
df.sort_values("adr", ascending=False)[["name","adr"]][:1]
# How much was their ADR?
# 10. What is the average (mean) number of nights for a stay across the entire data set? 
df["total_stay"] = df["stays_in_weekend_nights"] + df["stays_in_week_nights"]
round(df["total_stay"].mean(),2)
df.describe()["total_stay"]
# Feel free to round this to 2 decimal points.
# 11. What is the average total cost for a stay in the dataset? 
df["total_cost"] = df["adr"] * df["total_stay"]
round(df["total_cost"].mean(),2)
# Not average daily cost, but total stay cost. Feel free to round this to 2 decimal points.
# 12. What are the names and emails of people who made 5 "Special Requests"?
df[df["total_of_special_requests"] == 5][["name","email", "total_of_special_requests"]]
# 13. What percentage of hotel stays were classified as "repeat guests"? 
# (Do not base this off the name of the person, but instead of the is_repeated_guest column)
round((sum(df["is_repeated_guest"] == 1) / len(df)) * 100,2)

# 14. How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ?
# Bonus: Can you do this in one line of pandas code?
df["arrival_date_day_of_month"]

0          1
1          1
2          1
3          1
4          1
          ..
119385    30
119386    31
119387    31
119388    31
119389    29
Name: arrival_date_day_of_month, Length: 119390, dtype: int64

In [39]:
def one_to_fifteen(x):
    count = 0
    if x in range(1,16):
        count = count + 1
    return count
df["arrival_date_day_of_month"].apply(one_to_fifteen).sum()

58152

In [41]:
df["arrival_date_day_of_month"].apply(lambda x: x in range(1,16)).sum()

58152

In [40]:
def add_num(x,y):
    return x + y
add_num(5,6)

11

In [ ]:
lambda x,y: x + y